.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 0.3em;
  padding: 1em;
  padding-bottom: 0.5em;
  padding-top: 0;
  background-color: var(--main-text-color);
  border-radius: 0 0 8px 8px;
}

.order {
  display: flex;
  flex-direction: row;
}

.left,
.right {
  width: 50%;
  padding-right: 1em;
}

.keyword {
  padding: 0.2em 0;
  font-size: var(--second-font-size);
}

.keyword:hover {
  background-color: var(--green-color);
}

.keyword a {
  text-decoration: none;
}

.list {
  display: flex;
  padding: 0.2em 0;
}

.number {
  width: 1.5em;
  color: rgb(255, 0, 0);
  font-weight: 500;
  padding-right: 1rem;
}

.word {
  color: var(--main-dark-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .order {
    display: flex;
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (min-width: 2500px) {
  .container {
    width: 50%;
  }
}

@media screen and (min-width: 3000px) {
  .container {
    width: 40%;
  }
}
