.title {
  font-size: 1.2rem;
  font-weight: 700;
}

.body_top {
  display: flex;
  padding-bottom: 0.5em;
}

.open_main {
  width: fit-content;
  box-shadow: 0 1px 3px rgb(90, 90, 90);
}

.body_bottom {
  display: flex;
  padding-top: 1.5em;
}

.text {
  padding-left: 0.5em;
}

.plus {
  display: none;
}

@media screen and (max-width: 768px) {
  .plus {
    display: inline;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    color: var(--green-dark-color);
    opacity: 60%;
    cursor: pointer;
  }
}
