.container {
  display: flex;
  justify-content: flex-end;
  background-color: var(--main-text-color);
  width: 60%;
  padding: 0.5em 1em 0.2em 0;
}

.title {
  display: inline;
  margin-right: 1px;
  padding: 0.5em;
  font-size: 0.85rem;
  color: var(--main-light-color);
  border: 1px solid rgb(216, 216, 216);
  border-radius: 8px 8px 0 0;
  width: 7em;
  text-align: center;
}

.title_active {
  display: inline;
  margin-right: 1px;
  padding: 0.5em;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--main-dark-color);
  border: 1px solid gray;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  width: 7em;
  text-align: center;
}

.title:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .title,
  .title_active {
    width: 6em;
  }
}
