.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: var(--main-color);
}

.open_main {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .open_main {
    display: inline-flex;
    margin-bottom: 0.5em;
  }
}
